In [39]:
# jmport all necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [11]:
startup = pd.read_csv('50_Startups.csv')

startup.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [12]:
startup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [14]:
startup.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [15]:
startup.shape

(50, 5)

In [16]:
startup.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [17]:
startup.index

RangeIndex(start=0, stop=50, step=1)

In [18]:
startup.duplicated().sum()

0

In [19]:
startup.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [21]:
corr = startup.corr()
corr

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [56]:
# split our dataset into feature and label

X = startup.iloc[:,:-2]
y = startup.iloc[:,-1]

In [57]:
label = LabelEncoder()

In [35]:
# split our dataset into training and testing dataset

# X_train.shape below produces results of (40. 4) 40 is 80% of 50

# This cell is just for education purpose and to confirm what i was doing


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

print("Traning features:", X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

Traning features: (40, 4)
(10, 4)
(40,)
(10,)

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [61]:
# Buid the model

regressor = LinearRegression()

regressor.fit(X_train, y_train)

LinearRegression()

In [66]:
y_prediction = regressor.predict(X_test)

In [68]:
# Accuracy score usin r-squared

score = r2_score(y_prediction, y_test)
score

0.9359154989043083

In [70]:
# Accuracy score using mean squared error

score_mean = mean_squared_error(y_prediction, y_test)

score_root = np.sqrt(score_mean)

score_root

8803.775790469357

In [73]:
result=pd.DataFrame({'Actual Profit':y_test, "Predicted Profit":y_prediction})

result.head(10)

    Actual Profit  Predicted Profit
28      103282.38     103901.896970
11      144259.40     132763.059931
10      146121.95     133567.903700
41       77798.83      72911.789767
2       191050.39     179627.925672
27      105008.31     115166.648648
38       81229.06      67113.576906
31       97483.56      98154.806868
22      110352.25     114756.115552
4       166187.94     169064.014088

In [77]:
y_prediction = regressor.predict(X_test)

regressor.predict([[25000, 15000, 17000]])

array([63490.98708638])